.fullScreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .tool {
        cursor: pointer;
    }
}

.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > main {
        flex: 1;
    }

    & > footer {
        flex: 0 0 auto;
        border-top: 1px solid #d8d8d8;
        height: 45px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
