@import "../../../theme";

.root {
    border: 1px dashed #d8d8d8;
    margin: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: move;

    &:hover {
        border: 1px dashed @primary-color;
    }


    .title {

    }

    .img {

    }
}
