.root {
    width: 300px;

    :global {
        .ant-tabs-nav-list {
            width: 100%;
            display: flex;

            .ant-tabs-tab {
                flex: 1;
                display: flex;
                justify-content: center;
            }
        }
    }
}

